* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.ymui-loading {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  animation: ymuiLoading 1s steps(12, end) infinite;
  background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
  background-size: 100%;
  opacity: .6;
  margin: 0 .32em 0 0; }

@-webkit-keyframes ymuiLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    transform: rotate3d(0, 0, 1, 360deg); } }

@keyframes ymuiLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    transform: rotate3d(0, 0, 1, 360deg); } }

.ymui-badge {
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  background: #000;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle; }
  .ymui-badge_radius {
    border-radius: 10px; }
  .ymui-badge_dot {
    border-radius: 10px;
    padding: .12em .4em;
    background: #F43530;
    min-width: 8px;
    min-height: 14px; }

.ymui-badge_primary {
  background: #007bff; }

.ymui-badge_secondary {
  background: #6c757d; }

.ymui-badge_success {
  background: #28a745; }

.ymui-badge_info {
  background: #17a2b8; }

.ymui-badge_warning {
  background: #ffc107; }

.ymui-badge_danger {
  background: #dc3545; }

.ymui-badge_light {
  background: #f8f9fa; }

.ymui-badge_dark {
  background: #343a40; }

.ymui-flex {
  display: flex; }
  .ymui-flex__item {
    flex: 1; }

.ymui-footer {
  font-size: 14px;
  color: #808080;
  text-align: center; }
  .ymui-footer__text {
    padding: 0 .34em;
    font-size: 12px; }
  .ymui-footer__links {
    font-size: 0; }
  .ymui-footer__link {
    position: relative;
    margin: 0 .62em;
    display: inline-block;
    visibility: top;
    font-size: 14px;
    color: #17a2b8; }
  .ymui-footer_fixed-bottom {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0; }

.ymui-grids {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative; }
  .ymui-grids:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 0;
    transform: scaleY(0.5); }
  .ymui-grids:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 0;
    transform: scaleX(0.5); }

.ymui-grid {
  padding: 20px 10px;
  width: 33.3%;
  text-align: center;
  box-sizing: border-box;
  position: relative; }
  .ymui-grid:active {
    background: #e9ecef; }
  .ymui-grid:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 100%;
    transform: scaleY(0.5); }
  .ymui-grid:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 100% 0;
    transform: scaleX(0.5); }
  .ymui-grid__icon {
    width: 28px;
    height: 28px;
    margin: 0 auto; }
  .ymui-grid__text {
    margin-top: 5px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000; }

.ymui-btn {
  position: relative;
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 18px;
  background: #ddd;
  color: #fff;
  line-height: 2.5;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden; }
  .ymui-btn_plain {
    background: transparent;
    color: #343a40;
    border: 1px solid #eee; }

.ymui-btn_primary {
  background: #007bff;
  width: 100%; }
  .ymui-btn_primary:active, .ymui-btn_primary.ymui-btn_loading {
    background: #0067d6;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-primary {
  background: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  width: 100%; }
  .ymui-btn_plain-primary:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_secondary {
  background: #6c757d;
  width: 100%; }
  .ymui-btn_secondary:active, .ymui-btn_secondary.ymui-btn_loading {
    background: #596167;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-secondary {
  background: transparent;
  border: 1px solid #6c757d;
  color: #6c757d;
  width: 100%; }
  .ymui-btn_plain-secondary:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_success {
  background: #28a745;
  width: 100%; }
  .ymui-btn_success:active, .ymui-btn_success.ymui-btn_loading {
    background: #208637;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-success {
  background: transparent;
  border: 1px solid #28a745;
  color: #28a745;
  width: 100%; }
  .ymui-btn_plain-success:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_info {
  background: #17a2b8;
  width: 100%; }
  .ymui-btn_info:active, .ymui-btn_info.ymui-btn_loading {
    background: #128294;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-info {
  background: transparent;
  border: 1px solid #17a2b8;
  color: #17a2b8;
  width: 100%; }
  .ymui-btn_plain-info:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_warning {
  background: #ffc107;
  width: 100%; }
  .ymui-btn_warning:active, .ymui-btn_warning.ymui-btn_loading {
    background: #dda600;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-warning {
  background: transparent;
  border: 1px solid #ffc107;
  color: #ffc107;
  width: 100%; }
  .ymui-btn_plain-warning:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_danger {
  background: #dc3545;
  width: 100%; }
  .ymui-btn_danger:active, .ymui-btn_danger.ymui-btn_loading {
    background: #c62232;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-danger {
  background: transparent;
  border: 1px solid #dc3545;
  color: #dc3545;
  width: 100%; }
  .ymui-btn_plain-danger:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_light {
  background: #f8f9fa;
  width: 100%; }
  .ymui-btn_light:active, .ymui-btn_light.ymui-btn_loading {
    background: #e0e5e9;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-light {
  background: transparent;
  border: 1px solid #f8f9fa;
  color: #f8f9fa;
  width: 100%; }
  .ymui-btn_plain-light:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_dark {
  background: #343a40;
  width: 100%; }
  .ymui-btn_dark:active, .ymui-btn_dark.ymui-btn_loading {
    background: #222629;
    color: rgba(255, 255, 255, 0.6); }

.ymui-btn_plain-dark {
  background: transparent;
  border: 1px solid #343a40;
  color: #343a40;
  width: 100%; }
  .ymui-btn_plain-dark:active {
    border-color: rbga(0, 0, 0, 0.2);
    color: rbga(0, 0, 0, 0.2); }

.ymui-btn_mini {
  width: auto;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.ymui-btn_disabled {
  opacity: .5;
  color: rgba(255, 255, 255, 0.6);
  cursor: no-drop; }

.ymui-btn_plain-disabled {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: no-drop; }

.page {
  margin: 1em;
  min-width: 320px; }
  .page-tt {
    margin: 30px 0 15px; }
  .page-item {
    margin-bottom: 20px; }
    .page-item__tt {
      margin-bottom: 5px; }

.placeholder {
  margin: 5px;
  padding: 0 10px;
  background-color: #ebebeb;
  height: 2.3em;
  line-height: 2.3em;
  text-align: center;
  color: #cfcfcf;
  width: 100%; }

.page.button .ymui-btn {
  margin-bottom: 10px; }

.page.button .button-sp-area {
  margin: 0 auto;
  padding: 15px 0;
  width: 60%; }
