* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.ymui-badge {
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  background: #000;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle; }
  .ymui-badge_radius {
    border-radius: 10px; }
  .ymui-badge_dot {
    border-radius: 10px;
    padding: .12em .4em;
    background: #F43530;
    min-width: 8px;
    min-height: 14px; }

.ymui-badge_primary {
  background: #007bff; }

.ymui-badge_secondary {
  background: #6c757d; }

.ymui-badge_success {
  background: #28a745; }

.ymui-badge_info {
  background: #17a2b8; }

.ymui-badge_warning {
  background: #ffc107; }

.ymui-badge_danger {
  background: #dc3545; }

.ymui-badge_light {
  background: #f8f9fa; }

.ymui-badge_dark {
  background: #343a40; }

.ymui-flex {
  display: flex; }
  .ymui-flex__item {
    flex: 1; }

.ymui-footer {
  font-size: 14px;
  color: #808080;
  text-align: center; }
  .ymui-footer__text {
    padding: 0 .34em;
    font-size: 12px; }
  .ymui-footer__links {
    font-size: 0; }
  .ymui-footer__link {
    position: relative;
    margin: 0 .62em;
    display: inline-block;
    visibility: top;
    font-size: 14px;
    color: #17a2b8; }
  .ymui-footer_fixed-bottom {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0; }

.ymui-grids {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative; }
  .ymui-grids:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 0;
    transform: scaleY(0.5); }
  .ymui-grids:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 0;
    transform: scaleX(0.5); }

.ymui-grid {
  padding: 20px 10px;
  width: 33.3%;
  text-align: center;
  box-sizing: border-box;
  position: relative; }
  .ymui-grid:active {
    background: #e9ecef; }
  .ymui-grid:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 100%;
    transform: scaleY(0.5); }
  .ymui-grid:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 100% 0;
    transform: scaleX(0.5); }
  .ymui-grid__icon {
    width: 28px;
    height: 28px;
    margin: 0 auto; }
  .ymui-grid__text {
    margin-top: 5px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000; }

.ymui-button {
  position: relative;
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 18px;
  background: #ddd;
  color: #fff;
  line-height: 2.5;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden; }
  .ymui-button_plain {
    background: transparent;
    color: #343a40;
    border: 1px solid #eee; }

.ymui-button_primary {
  background: #007bff; }

.ymui-button_plain-primary {
  background: transparent;
  border: 1px solid #007bff;
  color: #007bff; }

.ymui-button_secondary {
  background: #6c757d; }

.ymui-button_plain-secondary {
  background: transparent;
  border: 1px solid #6c757d;
  color: #6c757d; }

.ymui-button_success {
  background: #28a745; }

.ymui-button_plain-success {
  background: transparent;
  border: 1px solid #28a745;
  color: #28a745; }

.ymui-button_info {
  background: #17a2b8; }

.ymui-button_plain-info {
  background: transparent;
  border: 1px solid #17a2b8;
  color: #17a2b8; }

.ymui-button_warning {
  background: #ffc107; }

.ymui-button_plain-warning {
  background: transparent;
  border: 1px solid #ffc107;
  color: #ffc107; }

.ymui-button_danger {
  background: #dc3545; }

.ymui-button_plain-danger {
  background: transparent;
  border: 1px solid #dc3545;
  color: #dc3545; }

.ymui-button_light {
  background: #f8f9fa; }

.ymui-button_plain-light {
  background: transparent;
  border: 1px solid #f8f9fa;
  color: #f8f9fa; }

.ymui-button_dark {
  background: #343a40; }

.ymui-button_plain-dark {
  background: transparent;
  border: 1px solid #343a40;
  color: #343a40; }

.page {
  margin: 1em;
  min-width: 320px; }
  .page-tt {
    margin: 30px 0 15px; }
  .page-item {
    margin-bottom: 20px; }
    .page-item__tt {
      margin-bottom: 5px; }

.placeholder {
  margin: 5px;
  padding: 0 10px;
  background-color: #ebebeb;
  height: 2.3em;
  line-height: 2.3em;
  text-align: center;
  color: #cfcfcf;
  width: 100%; }

.page.button .ymui-button {
  margin-bottom: 10px; }

.page.button .button-sp-area {
  margin: 0 auto;
  padding: 15px 0;
  width: 60%; }
