body {
    background: #f8f8f8;
}

.page {
    min-width: 320px;
    &.button,
    &.badge {
        .page-item {
            padding: 0 15px;
        }
    }
    &-tt {
        margin: 30px 15px 15px;
    }
    &-head {
        padding: 10px 0;
    }
    &-item {
        margin-bottom: 20px;
        &__tt {
            margin-bottom: 5px;
            font-size: 13px;
            color: $gray-600
        }
    }
}

// 占位符
.placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #ebebeb;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: #cfcfcf;
    width: 100%;
}

//
// button
//
.page.button {
    .ymui-btn {
        margin-bottom: 10px;
    }
    .button-sp-area {
        margin: 0 auto;
        padding: 15px 0;
        width: 60%;
    }
}

// 图片
.page-img {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background: #ddd;
    overflow: hidden;
}

// Badge
.page.badge {
    .page-img {
        display: inline-block;
    }
}