.ymui-grids {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	position: relative;
	
	&:before {@include setTopLine};
	&:after {@include setLeftLine};
}

.ymui-grid {
	padding: 20px 10px;
	width: 33.3%;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	&:active {background: $gray-200;}
	&:before {@include setBottomLine};
	&:after {@include setRightLine};
	
	
	&__icon {
		width: 28px;
		height: 28px;
		margin: 0 auto;
	}
	
	&__text {
		margin-top: 5px;
		font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
		color: #000;
	}
}