/* list
----------------------------------------------------------------*/
.ym-accordion {
  position: relative;
  transition-duration: .3s;
  height: 0;
  background: $color-white;
  overflow: hidden;
}

