/* list
----------------------------------------------------------------*/
.ym-list {
  position: relative;
  z-index: 1;
  font-size: $list-font-size;
  margin-bottom: 20px;

  &::before {
    @include setLine(top);
  }
  &::after {
    @include setLine(bottom);
  }
}



/* list-item
----------------------------------------------------------------*/
.ym-list__item {
  background-color: $list-bg-color;
  position: relative;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  padding-left: 30px;

  

  &-hd {
    @extend %g-flex-center;
    margin-right: 30px;
  }

  &-content {
    flex: 1;
    padding-left: 0;
    display: flex;
    padding: 30px;
    padding-left: 0;
  }

  &-ft {
    display: flex;
    align-items: center;
    min-width: 80px;
    display: flex;
    justify-content: flex-end;
    color: #999;
  }

  &-bd {
    flex: 1;
    flex-direction: column;
  }

  &-subtitle {
    font-size: 13PX;
    color: #999;
    @include text-overflow(2);
  }

  &-badge,
  &-after {
    font-size: 14PX;
    color: rgba(0,0,0,.45);
    margin-right: 10px;
  }

  &-badge {
    border-radius: 50%;
    color: #fff;
    background: red;
    width: 40px;
    height: 40px;
    @extend %g-flex-center;
    font-size: 11PX;
  }
  &:active {
    background-color: #ECECEC;
  }
  &::before {
    @include setLine(bottom);
  }

  /* link */
  &--link{
    &::before { height: 0; }
  }
  &--link &-ft {
    position: relative;
  }
  &--link &-content{
    position: relative;
    
    &::before {
      @include setLine(bottom);
    }
  }

  /* accordion */
  &--accordion-open+.ym-accordion {
    height: auto;
    opacity: 1;
  }

}

.ym-list__item.ym-list__item--group-title {
  background-color: #f7f7f7;
  font-weight: 500;
  font-size: 18PX;
  z-index: 20;
  position: sticky;
  top: 0;
}