@import './style/index';

/* page
----------------------------------------------------------------*/
page,body {
  background: #f7f7f7;
}

.page-title {
  font-size: 18PX;
  padding: 30px;
  font-weight: 500;
}


/* common
----------------------------------------------------------------*/
.block {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  color: #999;
  padding: 30px;
  font-size: 14PX;
}