.ymui-textarea {
    display: block;
    border: 0;
    resize: none;
    width: 100%;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    outline: 0;
    &-counter {
        text-align: right;
        color: #b2b2b2;
    }
}