@import './style/index';

/* page
----------------------------------------------------------------*/
page,body {
  background: #f7f7f7;
}

.page-title {
  font-size: 18PX;
  padding: 30px;
  color: #4CAF50;
}


